@charset "utf-8" ;
/*
Information on Hercules
Hercules
Greek God

Greek God Hercules
Author: Maria Vernon
Date: 9/14/2019

Filename: tss_styles.css

*/



h1{
  color: rgb(245, 229, 11);
}
article {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}
